<header class="xl relative ">
<h1 >The Green Mountain Trading Post</h1>


<nav> 
 <%= link_to  "Home", "/" %>  </li>
   <%= link_to "North Country Notes", "/notes" %> </li>
  <%= link_to "Check the Ads", "/ads" %> </li>
</nav>

</header>
